.header {
    background-image: url(../picture/img-giohang/Banner1024.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 680px;
}

.header .tt {
    color: #fff;
    text-align: center;
    width: 50%;
    margin: 300px auto 0 auto;
}

.header .tt h1 {
    color: #fff;
}

#content {
    display: block;
}

.intro-company {
    width: 50%;
    height: auto;
    margin: auto;
}

.intro-company h4 {
    text-align: center;
    margin-top: 50px;
}

.intro-company p {
    max-width: 100%;
    width: 100%;
    margin: auto;
    font-size: 9pt;
}

.ctn {
    color: #ff6699;
}

.list-sp {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
}

.list-sp h5 {
    text-align: left;
    float: left;
}

.thanhtien {
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    height: 50px;
}

.thanhtien p {
    float: left;
}

.inputQuantity {
    margin: 0.5em 0;
    display: inline-block;
    width: 20%;
    margin-top: 45px;
}

.inputQuantity a.minusQuantity {
    border: 1px solid #000;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.inputQuantity a {
    display: inline-block;
    padding: 7px;
    font-size: 13px;
}

.inputQuantity input {
    background: transparent;
    border: none;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    width: 20px;
    float: none;
}

.inputQuantity a.plusQuantity {
    border: 1px solid #000;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.inputQuantity a {
    display: inline-block;
    padding: 7px;
    font-size: 13px;
}

.ttname {
    width: 30%;
    text-align: left;
    margin-left: 30px;
}

.ttprice, .ttquantity, .tttoal {
    width: 20%;
    text-align: left;
}

.img-sp {
    width: 10%;
    height: 10%;
}

.name-price-sp {
    width: 40%;
    float: left;
}

.name-sp {
    float: left;
    width: 50%;
    margin: 50px 0 0 30px;
}

.price-sp {
    float: left;
    width: 40%;
    margin: 50px 0 0 0;
}

.item-quantity {
    width: 20px;
}

.tttoal-sp {
    float: right;
    width: 10%;
    margin: 50px 0 0 0
}

.ttpmh {
    width: 20%;
    margin-left: 30px;
}

.add-code-form {
    width: 70%;
    margin-top: 20px;
    padding-bottom: 30px;
}

.codetxt {
    float: left;
    width: 87%
}

.add-code-btn {
    width: 10%;
    background: none;
    border-bottom: 2px solid #111114;
    color: #111114;
    margin: 10px 0 0 20px;
    padding: 0;
}

.refresh {
    width: 100%;
    ;
    margin: 30px 0 0 0;
}

.tttgt {
    width: 20%;
    margin-left: 30px
}

.infor-tt {
    width: 70%;
    margin-top: 20px;
    padding-bottom: 30px
}

.thanhtien-1 {
    width: 30%;
}

.thanhtien-2 {
    height: 130px;
}

.thanhtien-2 p {
    width: 30%;
    height: 100px;
}

.thanhtien-2 div {
    width: 70%;
}

.thanhtien-price {
    width: 70%;
}

.tt-tl {
    width: 30%;
}

.otal-price {
    width: 70%;
}

.btn-thanhtoan {
    width: 100%;
    background: #ff6699;
    margin: 30px 0 0 0;
}

.infor-order, .invoice-details {
    border: 1px solid #e1e1e1;
}

.infor-order, .invoice-details p, input {
    float: left;
}

.infor-order p, input {
    float: left;
}

.infor-order-1 {
    width: 100%;
    margin: 20px 50px 0 50px;
    border-bottom: 1px solid #C8C8C8;
}

.infor-order-name {
    width: 20%;
}

.invoice-details-name-company {
    margin: 5px 20px 0 40px;
}

.infor-order-qt {
    width: 20%;
    text-align: center;
}

.infor-order-price {
    width: 55%;
}

.infor-order-2 {
    width: 100%;
    margin: 20px 50px 0 50px;
    border-bottom: 1px solid #C8C8C8;
}

.infor-order-2 .infor-order-2-1 {
    width: 40%;
}

.infor-order-2 .infor-order-2-2 {
    width: 55%;
}

.infor-order-3 {
    width: 100%;
    height: 150px;
    margin: 20px 50px 0 50px;
    border-bottom: 1px solid #C8C8C8;
}

.infor-order-3 p {
    width: 40%;
}

.infor-order-3 div {
    width: 55%;
    float: left;
}

.infor-order-3 div input {}

.infor-order-4 {
    width: 100%;
    margin: 20px 50px 20px 50px;
    border-bottom: 1px solid #C8C8C8;
}

.infor-order-total {
    width: 40%;
}

.infor-order-total-price {
    width: 50%;
}

.infor-order-5 {
    width: 100%;
    margin: 20px 50px 0 50px;
    border-bottom: 1px solid #C8C8C8;
}

.infor-order-6 {
    width: 100%;
    margin: 20px 50px 0 50px;
    border-bottom: 1px solid #C8C8C8;
}

.infor-order-7 {
    width: 100%;
    margin: 20px 50px 50px 50px;
    border-bottom: 1px solid #C8C8C8;
}

.infor-order-7 p {
    width: 20%;
    margin-top: 30px;
}

.infor-order-8 {
    width: 100%;
    margin: 20px 50px 50px 50px;
}

/*css thu tuc thanh toan*/

.invoice-details1 {
    width: 100%;
    margin: 20px 20px 0 50px;
}

.invoice-details1 input {
    width: 35%;
}

.invoice-details-name {
    width: 15%;
    margin-top: 5px
}

.invoice-details2 {
    width: 100%;
    margin: 20px 20px 0 50px
}

.invoice-details2 p {
    width: 15%;
}

.invoice-details2 textarea {
    width: 35%;
    grid-row: 3;
    border: 1px solid #C8C8C8;
    padding: 10px;
}

.invoice-details3 {
    width: 100%;
    margin: 20px 20px 0 50px;
    border-bottom: 1px solid #C8C8C8;
}

.invoice-details3 input {
    width: 35%;
}

.invoice-details-phone {
    width: 15%;
}

.invoice-details-email {
    width: 10%;
    margin: 5px 0 0 40px
}

.invoice-details-note {
    width: 100%;
    margin: 20px 20px 20px 50px
}

.invoice-details-note p {
    width: 15%;
}

.invoice-details-note textarea {
    width: 35%;
    grid-row: 3;
    ;
    padding: 10px
}

/**************************/

@media only screen and (max-width: 800px) {
    .name-price-sp {
        width: 60%;
    }
    .tt-sp {
        display: none;
    }
    .item-quantity {
        width: 10%;
    }
    .img-sp {
        width: 30%;
    }
    .list-inline {
        width: 10%;
        margin: 0;
    }
    .list-inline-item {
        display: none;
    }
    .name-sp, .price-sp {
        width: 100%;
        margin: 0 0 0 10px;
        float: left;
        height: auto;
    }
    .tttoal-sp {
        display: none;
    }
    .ttpmh {
        margin-left: 10px;
        width: 100%;
    }
    .ttpmh h5 {
        width: 100%;
    }
    .add-code-form {
        width: 100%;
    }
    .codetxt {
        width: 60%;
        margin-left: 10px;
    }
    .add-code-btn {
        width: 27%;
        margin: 10px;
    }
    .refresh {
        width: 95%;
        margin: 30px 10px 0 8px;
    }
    .tttgt {
        width: 100%;
        margin-left: 10px;
    }
    .infor-tt {
        width: 100%;
        margin-left: 10px;
    }
    .thanhtien-1 {
        width: 50%;
    }
    .thanhtien-price {
        width: 45%;
        text-align: right;
        margin-right: 10px;
    }
    .thanhtien-2 {
        margin-top: 20px 0 0 0;
        font-size: 12px;
        height: 100px;
    }
    .thanhtien-2 p {
        display: none;
    }
    .thanhtien-2 div {
        width: 90%;
    }
    .tt-tl {
        float: left;
        width: 50%;
    }
    .total-price {
        float: right;
        width: 45%;
        text-align: right;
        margin-right: 10px;
    }
    .btn-thanhtoan {
        width: 95%;
        margin: 30px 10px 0 8px;
    }
    .row-2 {
        width: 99%;
        margin: auto;
    }
    .invoice-details1 {
        width: 95%;
        margin: 0;
        margin: auto;
    }
    .invoice-details-name {
        width: 100%;
        margin-bottom: 0;
    }
    .invoice-details1 input {
        width: 100%;
    }
    .invoice-details-name-company {
        margin: 0;
    }
    .invoice-details2 {
        margin: 0 10px 0 10px;
    }
    .invoice-details2 p {
        width: 100%;
    }
    .invoice-details2 textarea {
        width: 100%;
    }
    .invoice-details3 {
        margin: 20px 10px 0 10px;
    }
    .invoice-details3 input {
        width: 100%;
    }
    .invoice-details-phone {
        width: 100%;
        margin: 10px 0 0 0;
    }
    .invoice-details-email {
        width: 100%;
        margin: 10px 0 0 0;
    }
    .invoice-details-note {
        margin: 20px 10px 0 10px;
    }
    .invoice-details-note p {
        width: 100%;
    }
    .invoice-details-note textarea {
        width: 100%;
    }
    .infor-order-1, .infor-order-3, .infor-order-4, .infor-order-5, .infor-order-6, .infor-order-7, .infor-order-8 {
        margin: 20px 10px 0 10px;
    }
    .infor-order-1 .infor-order-name {
        width: 50%;
    }
    .infor-order-1 .infor-order-qt {
        text-align: center;
        width: 15%;
    }
    .infor-order-1 .infor-order-price {
        width: 35%;
        text-align: right;
    }
    .infor-order-2 {
        margin: 20px 10px 0 10px;
    }
    .infor-order-2 .infor-order-2-1 {
        width: 65%;
    }
    .infor-order-2 .infor-order-2-2 {
        width: 35%;
        text-align: right;
    }
    .infor-order-3 {
        height: 150px;
    }
    .infor-order-3 p {
        width: 100%;
    }
    .infor-order-3 div {
        width: 100%;
        font-size: 12px;
    }
    .infor-order-4 .infor-order-total {
        width: 65%;
    }
    .infor-order-total-price {
        width: 35%;
        text-align: right;
    }
    .infor-order-5, .infor-order-6, .infor-order-7, .infor-order-8 {
        padding-bottom: 20px;
    }
    .infor-order-7 p {
        width: 100%;
        margin: 0;
    }
    .infor-order-8 {
        margin-bottom: 20px;
        font-weight: bold;
    }
    .tt-invoice-details {
        margin-top: 0;
    }
}