.header {
    background-image: url(../picture/img_productDentail/top\ banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 680px;
}

.header .tt {
    color: #fff;
    text-align: center;
    width: 50%;
    margin: 300px auto 0 auto;
}

.header .tt h1 {
    color: #fff;
}

.cn-row {
    width: 90%;
    margin: auto;
}

#content p {
    width: 50%;
    color: #000;
    text-align: center;
    margin: auto;
    font-weight: bold;
}

/*----------------------------------*/

ul li {
    list-style-type: none;
}

.img-left .img-small {
    text-align: right;
    margin-bottom: 15px;
}

.img-left img {
    width: 130px;
    height: 195px;
}

.img-big img {
    height: 90%;
    max-width: 100%;
}

.box-color {
    border: 1px solid initial;
    padding: 10px 10px 10px 30px;
    background-color: red;
}

.box-size {
    border: 1px solid #000;
    padding: 10px 35px 10px 30px;
    margin-right: 30px;
    border-top: 2px solid #000;
    text-align: center;
    font-weight: bold;
}

.box-size:hover {
    background-color: #000;
    color: white;
}

.inputQuantity {
    margin: 0.5em 0;
    display: inline-block;
}

.inputQuantity a.minusQuantity {
    border: 1px solid #000;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.inputQuantity a {
    display: inline-block;
    padding: 7px;
    font-size: 13px;
}

.inputQuantity input {
    background: transparent;
    border: none;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    width: 80px;
}

.inputQuantity a.plusQuantity {
    border: 1px solid #000;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.inputQuantity a {
    display: inline-block;
    padding: 7px;
    font-size: 13px;
}

.col-lg-3 {
    float: left;
}

.more-product {
    text-align: center;
}

.more-product .item-product {
    display: inline-block;
}

.detail-option li {
    margin-bottom: 10px;
}

.addcart-button {
    background-color: #f05a94 !important;
    font-size: 20px !important;
    padding: 3px 10px 0px 10px !important;
}

.list-inline {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
}

/* Style the tab */

.tab-form {
    margin: 25px auto 0 auto;
    width: 80%;
    overflow: hidden;
}

/* Style the buttons inside the tab */

.tab-form button {
    float: left;
    border: none;
    outline: none;
    margin: auto;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    background: #fff;
    color: #000;
    text-align: left;
}

/* Change background color of buttons on hover */

.tab-form button:hover {
    background-color: #fff;
    color: #000;
}

.tab-form button:hover a {
    border-bottom: 2px solid #000;
}

/* Create an active/current tablink class */

.tab-form button.active {
    background: #fff;
    font-size: 17px;
    font-weight: bold;
    color: #000;
}

.tab-form button.active a {
    border-bottom: 2px solid #000;
}

/* Style the tab content */

.tabformcontent {
    text-align: left;
    width: 80% !important;
    display: none;
    padding: 6px 12px !important;
    border-top: none !important;
    margin: auto !important;
}

.tabformcontent p {
    text-align: left;
}

/*
    style mobile of tabs
*/

.flip {
    float: left;
}

.panel {
    display: none;
    margin: auto;
}

.Q {
    width: 100%;
    height: 70px;
    margin: auto;
    padding-top: 10px;
    font-weight: bold;
    color: #000;
}

.Q .hoi {
    width: 10%;
    text-align: center;
}

.Q p {
    width: 100%;
    text-align: center;
    color: #000;
    font-weight: lighter;
    float: left;
}

.Q .Hoi {
    width: 15%;
    text-align: center;
    float: left;
    padding-top: 10px;
    font-weight: bold;
}

.Q .Hoi2 {
    width: 90%;
    float: left;
    text-align: left;
    padding-top: 10px;
}

.Q .flip {
    width: 10%;
    float: right;
    margin: auto;
}

.r-QA {
    width: 100%;
    border-top: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
    margin: auto;
    color: #000;
}

.panel {
    font-weight: lighter;
    text-align: left;
    width: 100;
}

.TL {
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.container2 {
    display: none;
    margin: auto;
}

.tollbar {
    border-top: 1px solid #e1e1e1;
    margin-top: 50px;
}

@media only screen and (max-width: 800px) {
    .container2 {
        display: block;
    }
    .tollbar {
        display: none;
    }
    .row {
        margin: 0;
    }
    .panel p {
        font-weight: lighter;
    }
}

@media only screen and (max-width: 320px) {
    .Q .flip {
        padding: 10px 0 0 0;
    }
}

/* css colection*/

.colection {
    margin: auto;
    margin-top: 50px;
    border-top: 1px solid #e1e1e1;
}

.colection .col-12 {
    text-align: center;
}

.colection .col-12 h3 {
    color: #ff6699;
    font-weight: bold;
}

.col-md-3 {}

.col-md-3 a {
    width: 100%;
    text-align: center;
}

.col-md-3 h4 {
    color: #ff6699;
    text-align: center;
    margin: 0;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */

.modal-content {
    width: 70%;
    max-width: 600px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    padding-bottom: 100px;
    text-align: left;
    overflow: auto;
}

.modal-content h4 {
    margin: 20px 0 0 20px;
}

.modal-content img {
    border-top: 1px solid #e1e1e1;
    width: 100%;
    max-height: 600xp;
    margin: auto;
}

/* The Close Button */

.close {
    color: #000;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .container2 {
        display: block;
    }
    .tollbar {
        display: none;
    }
    .row {
        margin: 0;
    }
    .panel p {
        font-weight: lighter;
    }
    .col-md-3 {
        margin-top: 20px;
    }
    .modal-content h4 {}
    .modal-content {
        overflow: auto;
        width: 100%;
        max-width: none;
        max-height: 400px;
    }
    .lin-1 {
        padding: 20px 0 0 0;
    }
}

@media only screen and (max-width: 320px) {
    .Q .flip {
        padding: 10px 0 0 0;
    }
}