#back-to-top {
    position: fixed;
    right: 30px;
    bottom: 50px;
    z-index: 9999;
}

#back-to-top a {
    display: block;
    background: #FF6699;
    text-decoration: none;
    border-radius: 500px;
}

#back-to-top .fa {
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 7px;
    font-size: 2em;
    line-height: 35px;
    color: #FFF;
    text-align: center;
    font-weight: 500;
}

.header {
    width: 100%;
}

img.img-hed {
    width: 100%;
}

.row img {
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .row img {
        width: 100%;
    }
}