//định nghĩa về chữ
$font_chunho2:10px;
$font_chunho1:12px;
$font_chuvua1:14px;
$font_chuvua2:13px;
$font_max2:17px;
$font_max1:20px;
//màu chữ 
$mauchu_trang:#FFFFF9;
$mauchu_xam:#A69F9F;
// định nghĩa phần nội dung
$width_noidung:1160px;
// định nghĩa phần màu sắc
$mau1:#4A4A4A;
$mau2:#F2BE1A;
$mau3:#E1A404;
$mau_nen_footer:#E5EAED;
$mau_nenxanh:#E5EAED;
*{padding:0;
	margin:0;
	box-sizing:border-box;
}

body{
	
	font-family: Montserrat,sans-serif;
}
header{
	width:$width_noidung;
	height: 468px;
	border:1px solid black;
	margin:0 auto;
	
}
.top{
	height:35px;
	background-color:#8b8686;
	a{
		padding-right:40px;
		text-decoration:none;
		line-height: 35px;
		color:white;
	}
}
//định nghĩa phần NAV
$height_nav:233px;


nav{
	width:$width_noidung;
	height:$height_nav;
	margin:auto;
	.logo{
		background:$mau_nenxanh;
		img{
			width: 337px;
			height: 164px;
			margin: 0 auto;
			display: block;
		}
	}
	.menu{
		width:$width_noidung;
		height:50px;
		ul{
			background-color:$mau1;
			li{
				
				display: inline-block;
				margin: 12px 12px;
				top:10px;

				&:hover{
					a{
						color:$mau2;
						hr{
							background-color:white;
						}
					}
				}
				a{
					text-decoration:none;
					color:$mauchu_trang;
					hr{
						display:block;
						position: relative;
						border-bottom:2px;
						top:5px;
						background-color:$mau2;
					}
				}
			}
		}
	}
	
}

//phần section
section{
	width: $width_noidung;
	margin:auto;
	div{
		img{
			margin:auto;
			display:block;
			margin:0 auto;
			padding: 40px 0;
		}
		h2{	
			color: #4A4A4A;
			text-align: center;
			background-color: white;
			display: inline-block;
			position: relative;
			left: 290px;
			padding:0 12px;

		}
		hr{
			height:3px;
			border: 1px solid $mau1;
			background-color:$mau1;
			margin-top: -16px;


		}
	}
	h1{
		padding-top:46px;
		text-align:center;
		color:$mau1;
		font-family:lato;
	}
	article{
		width:567px;
		height:240px;
		float:left;
		margin-right:10px;
		margin-top:10px;

		img{
			width:567px;
			height:240px;
		}
	}

}